h1 {
    margin: 80px auto 100px auto;
    padding: 10px 20px;
    font-size: 50px;
    width:fit-content;
    background-color: black;
    color: wheat;
    border: 1px solid black;
    border-radius: 5px;
}

th, td {
    border: 1px solid black;
    margin-right: 25%;
}

table {
    border-collapse: collapse;
}

th {
    padding: 3px;
    text-align:start;
    background-color: rgb(127, 225, 255);
}

td {
    padding: 3px;
    background-color: white;
}

h2 {
    margin-left: -5px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 30px;
    border: 0px solid black;
    background-color: rgb(209, 195, 195);
    color: white;
    box-shadow: 5px 10px black;
}

h3 {
    font-size: 28px;
    margin: 70px 0px 50px 10px;
    text-decoration: underline;
}

pre {
    margin-left: 20px;
    font-size:14px;
}

.tabulation {
    display: block;
    padding-left: 25px;
}

.contenu {
    font-size: 22px;
    text-decoration: underline;
}
.contfichier {
    font-size: 20px;
    font-style: italic;
}

.resultat {
    font-style: italic;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tableau {
    margin-top: 50px;
}

.entete {
    height: 22%;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entete p {
    margin-top: 0px;
    width: 25%;
}

p {
    font-size: 18px;
    white-space: pre-wrap;
}

button {
    align-items: center;
    width:fit-content;
    height: fit-content;
}

.boncommande {
    height: 800px;
    padding: 0px 10px;
    background-color:rgb(245, 245, 238);
}

.tabbc {
    display: inline;
    width:auto;
}

footer {
    height: 22%;
}

.tabcommande {
    height: 49%;
}
